{:linters {:consistent-alias
           {:level :warning
            :aliases {clojure.java.io io
                      clojure.set set
                      clojure.spec.alpha s
                      clojure.string str}}}}
